* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar{
        width: 0;
        height: 0
        ;
    }
    
  
  body {
    height: 100dvh;
   
    width: 100dvw;
    margin: auto;
   
  }
  body>div> img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

    
  }
  a{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    color: black;
    padding: 10px;
    display: block;
  }
  a:hover{
    background-color: rgb(184, 184, 159);
  }